In [2]:
import pandas as pd
import dateutil

In [5]:
data = pd.read_csv('phone_data.csv')
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [6]:
data['date'] = data['date'].apply(dateutil.parser.parse, 
                                   dayfirst=True)

In [8]:
# Ada berapa dataset?
data['item'].count()

830

In [19]:
# Panggilan paling lama berapa detik?
data[data['item']=='call']['duration'].max()

10528.0

In [17]:
# Panggilan siapa yang paling lama?
data[data['duration'] == data[data['item']=='call']['duration'].max()]

     index                date  duration  item    month   network network_type
816    816 2015-03-04 12:29:00   10528.0  call  2015-03  landline     landline

In [11]:
# Berapa detik total panggilan yang ada di data?
data['duration'][data['item']=='call'].sum()

92321.0

In [13]:
# Ada berapa entri data tiap bulan?
data['month'].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [20]:
# Ambil total panggilan PER-BULAN
data.groupby('month')['duration'].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [21]:
# Berapa hari dalam setiap bulan dari data yang terekam?
data.groupby('month')['date'].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [22]:
# Berapa total panggilan, dari setiap provider?
data[data['item']=='call'].groupby('network')['duration'].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [23]:
# Berapa jumlah panggilan, sms, dan data entri tiap bulan?
data.groupby(['month','item'])['date'].count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [24]:
# Berapa panggilan, sms, dan data yang dikirim tiap bulan, 
# berdasar jenis jaringan?
data.groupby(['month','network_type'])['date'].count()

month    network_type
2014-11  data             29
         landline          5
         mobile          189
         special           1
         voicemail         6
2014-12  data             30
         landline          7
         mobile          108
         voicemail         8
         world             4
2015-01  data             31
         landline         11
         mobile          160
         voicemail         3
2015-02  data             31
         landline          8
         mobile           90
         special           2
         voicemail         6
2015-03  data             29
         landline         11
         mobile           54
         voicemail         4
         world             3
Name: date, dtype: int64

In [26]:
# Grouping berdasar bulan dan item, dan ambil properti 
# statistik seperti sum dan count
data.groupby(['month', 'item']).agg({
                 'duration':sum,      # find the sum of the durations for each group
                 'network_type': "count", # find the number of network type entries
                 'date': 'first'})    # get the first date per group

               duration  network_type                date
month   item
2014-11 call  25547.000           107 2014-10-15 06:58:00
        data    998.441            29 2014-10-15 06:58:00
        sms      94.000            94 2014-10-16 22:18:00
2014-12 call  13561.000            79 2014-11-14 17:24:00
        data   1032.870            30 2014-11-13 06:58:00
        sms      48.000            48 2014-11-14 17:28:00
2015-01 call  17070.000            88 2014-12-15 20:03:00
        data   1067.299            31 2014-12-13 06:58:00
        sms      86.000            86 2014-12-15 19:56:00
2015-02 call  14416.000            67 2015-01-15 10:36:00
        data   1067.299            31 2015-01-13 06:58:00
        sms      39.000            39 2015-01-15 12:23:00
2015-03 call  21727.000            47 2015-02-12 20:15:00
        data    998.441            29 2015-02-13 06:58:00
        sms      25.000            25 2015-02-19 18:46:00